#board {
  display: grid;
  gap: 4px;
  align-content: center;
  align-items: center;
  min-height: calc(100vh - 94px);
  padding: 16px;
  margin: 0 auto;

  @media (max-width: 900px) {
    align-content: flex-start;
    align-items: flex-start;
    padding: 16px 4px;
  }

  @include flex-center;
}

.board {
  &--0 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
  }

  &--1 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
  }

  &--2 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
  }

  &--3 {
    grid-template-columns: repeat(5, 1fr);
    max-width: 900px;
  }

  &--4 {
    grid-template-columns: repeat(6, 1fr);
    max-width: 1000px;
  }

  &--5 {
    grid-template-columns: repeat(6, 1fr);
    max-width: 1000px;
  }
}

.game-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 10 / 7;
  perspective: 1000px;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    backface-visibility: hidden;

    @media (max-width: 900px) {
      border-width: 1px;
    }
  }

  &__front {
    transform: rotateY(180deg);

    @include flex-center;

    img {
      width: 40%;
    }
  }

  &__back {
    cursor: pointer;

    @include flex-center;
  }

  &__back-image {
    width: 85%;
    height: 85%;
    background-image: url("../assets/images/back.jpg");
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    border-radius: 8px;

    @media (max-width: 900px) {
      border-width: 1px;
    }
  }

  &--active &__inner {
    transform: rotateY(180deg);
  }

  &--completed &__inner {
    pointer-events: none;
    transform: rotateY(180deg);
  }

  &--completed &__front {
    background-color: gray;
    opacity: 0.2;
  }
}
